div.sf-about
  div.sf-about__content
    div.mdc-typography--headline #{about_header}
    div
      div
        div.mdc-typography--title #{about_page_header}
        div.mdc-typography--body1 #{about_page_description}

      div
        div.mdc-typography--title #{about_owner_header}
        img(src="/assets/image/tatsuya.gif")
        div.mdc-typography--body1
          | #{about_owner_description1}
          br
          | #{about_owner_description2}