
include _string
include _config

block vars
  - var lang = "ja"
  - var pageName = "20180324_bokulove22"
html
  head
    // ランディングページは検索結果に表示させない
    meta(name="robots" content="noindex")

    - var title = page_name? `${site_name} | ${page_name}` : `${site_name}`;
    - var gaCode = process.env.NODE_ENV === "production"? "UA-127664761-3" : "UA-127664761-4";

    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    meta(name="description" content=`${head_description}`)

    title #{title}

    // GA
    script(async src=`https://www.googletagmanager.com/gtag/js?${gaCode}`)
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', "#{gaCode}");

  body
    main#viewer
    div#content(style={display: "none"}).
      # 僕ラブ22 イベントとCDのあとがき

      ## イベントのお礼

      僕ラブ22お疲れ様でした。また花粉が飛ぶ中、そこんところ工房のスペースに足を運んで頂くだけでなく、"ふしぎと歌える"なんて突飛なCDを手にして頂きまして、誠にありがとうございました。
      しかも会場で渡した紙切れのQRコードをチェックしてくれるなんて、なんてあなたは良い人なんでしょうか、、、、。重ねてありがとうございます。

      ## CDのこと

      "Cafe Aqours"という、カフェでラブライブ！サンシャイン！！の曲をさらりと聞きたいよね！！というT28の願望....テーマから、CDを作って見ようかな？と思ったのが事の始まりです。
      あえてチカちゃん達をジャケットにも出さず、あれ？これってもしかして、、、？なんて形でニヤニヤしたかったのですが、、、、、。
      大人の都合(言い訳)で今回はボーカルメロディを抜いた、"ふしぎと歌えるCD"なんてふざけた代物と化してしまいました、、、、みんな歌えてるかなぁ、、、、（白目)

      写真に関するお褒めの言葉をたくさん頂戴し、嬉しい限りです！あのバス停を見るだけで、妄想が捗りますよね。

      収録曲がなんの曲が元ネタなのか分からん！というケースが多分にあるだろうなぁ、、、、いや、今改めて聞き直しました。これは分からない。ごめんなさい。

      ## 曲のこと

      ### 1. ふしぎと、こころが輝ける
      あれ？ https://www.youtube.com/watch?v=I3NmHsDXeFc こちらの曲のメロディとか、合わせやすそうですね、ふしぎ。
      シャッフルビートなブラシドラムとウッドベースで、カフェのくせにいきなりノリノリ。

      ### 2. ふしぎと、一歩目の勇気が出る
      あれ？ https://www.youtube.com/watch?v=rWe8ZkhXmNM こちらの動画の前半の曲のメロディとか、合わせやすそうですね、ふしぎ。
      ドラムのカウントに合わせて歌い出してください。そのあとすぐAメロが始まります、歌い続けてください。

      ### 3. ふしぎと、つっこんじゃう
      あれ？ https://www.youtube.com/watch?v=rWe8ZkhXmNM こちらの動画の後半の曲のメロディとか、合わせやすそうですね、ふしぎ。
      一番タイトルが謎。彼女達がね、ヒロインでしょってつっこんで欲しいらしいから、、、。

      ## おしまい

      やたら長くなってしまいました。上記の"Cafe Aqours"を今度こそ完成すると意気込んでおりますので、またいつかの機会(出来れば次の沼ラブ)にお会いできればと思います（・８・）

      以上、駄文ながらも、感謝をこめて。3/24 T28


    script(src="https://cdn.jsdelivr.net/npm/marked/marked.min.js")
    script.
      var content = document.getElementById("content").innerHTML;
      var viewer = document.getElementById("viewer");

      viewer.innerHTML = marked(content);
