- var BASE_PATH = `${lang}` === "en" ? `/en/` : `/`;
- var TRANSLATE_BASE_PATH = `${lang}` === "en" ? `/` : `/en/`;

- hosting_origin = process.env.NODE_ENV === "production"? "https://www.sokontokoro-factory.net": "http://localhost:8080";

- alternate_hreflang_ja = `${hosting_origin}/`
- alternate_hreflang_en = `${hosting_origin}/en/`
- dns_prefetch_hosts = ["fonts.googleapis.com", "maxcdn.bootstrapcdn.com"]
- og_image_url = `${hosting_origin}/assets/ogp.jpg`
- favicon_url_32x32 = `${hosting_origin}/assets/image/hammer.png`
- favicon_url_192x192 = `${hosting_origin}/assets/image/hammer.png`
