include ../_string

nav.nav-extended
  div.nav-wrapper

  div.nav-content.container
    div.section
      h1.center-align
        a(href="/") #{hero_title}

    ul.tabs.tabs-transparent.tabs-icon
      li.tab
        a(href="#about")
          i.material-icons.tab-icon portrait
          span.tab-label #{tabs_about}
      li.tab
        a(href="./activity.html")
          i.material-icons.tab-icon timeline
          span.tab-label #{tabs_activity}
      li.tab
        a(href="#game")
          i.material-icons.tab-icon games
          span.tab-label #{tabs_game}

      li.tab
        a(href="#app")
          i.material-icons.tab-icon apps
          span.tab-label #{tabs_app}
